<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.;Initial Catalog=Demo;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="write_to_db" value="true"/>
    <add key="iis_instance" value="_Total"/>
  </appSettings>
</configuration>